body
{
    overflow-y: scroll; 
}

.imagesRow
{
    max-width: 100%;
    display: flex; 
    flex-direction: row; 
    gap: 0.7em;
    
    margin-bottom: 5em; 
}

.person
{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

img
{
    width: 100%;
    height: auto;
    border-radius: 50%; 
    box-shadow: 4px 5px 4px black;
}

#meetHeader
{
    width: 45%; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    background-color: #004C46;
    color: #F5F3E7; 
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

h2
{
    margin-top: 0.2em;
    text-align: center; 
    background-color:#004C46;
    color: #F5F3E7;
    border-radius: 1em; 
}

@media screen and (max-width: 600px)
{
    .imagesRow
    {
        flex-direction: column; 
    }
}