*
{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Comic Sans MS';
}

body
{
    background-color: #98B8AD;  
} 

.navWrapper
{
    width: 100%;
    height: 4em; 
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFC72C; 
    display: flex; 
    
}

#navList
{
    display: flex; 
    flex-direction: row; 
    list-style-type: none;
    gap: 0.5em; 
    align-items: center;
}

#navList li
{
    height: fit-content;
    padding: 1rem
}

#navList ul
{
    align-items: center;
}

#navList a
{
    text-decoration: none; 
    color: black;
    padding: 0.3em;
    border-radius: 1em;
}

#navList a:hover
{
    background-color: #004C46;
    color: #F5F3E7;
    
    transition: .3s
}

#burger
{
    display: flex; 
    justify-content: center;
    width: 33%;
    
}

#logo
{
    display: flex; 
    justify-content: center;
    width: 33%;
    align-items: center;
}

#personalizedWelcome
{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 33%;
}

#personalizedWelcome a
{
    text-decoration: none; 
    color: black;
}

.navWrapper h1
{
    font-size: 2rem;
}

/* 
#welcomeHeader {
    color: ;
} */
/*
.navWrapper ul
{
    display: flex; 
    flex-direction: row; 
    gap: 0.5em; 
    list-style-type: none;
    margin-left: 2em; 
    padding-top: 1.5em;

}

.navWrapper ul a
{
    text-decoration: none; 
    color: black;
}

.navWrapper ul a:hover
{
    background-color: #004C46;
    color: #F5F3E7;
    border-radius: 1em;
    padding: 0.1em;
}

.navWrapper h1
{
    width: 5em; 
    margin-left: auto; 
    margin-right: auto; 
    top: -5em; 
}

.navWrapper h3
{
    width: 15em; 
    margin-left: auto; 
    margin-right: 1em; 
    top: -5em; 
}

.navWrapper h3 a
{
    text-decoration: none; 
    color: black; 
}*/ 

.pageFooter
{
    background-color: #FFC72C; 
    text-align: center; 
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh; 
    margin-top: 15vh;
}

button:hover
{
    cursor: pointer;
    transition: 0.3s;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    

    
}

.pageFooter p
{
    text-align: center; 
}

@media screen and (max-width: 600px)
{
    #navList
    {
        flex-direction: column;
        list-style-type:circle;
        align-items: start;  
        gap: 0.1em;
    }

    h3 
    {
        font-size: 50%; 
        text-wrap: wrap;
    }
    
}