
#studentImage
{
    width: 25%; 
    height: 25%; 
}

#tutorImage
{
    width: 25%; 
    height: 25%; 
    position: relative; 
    left:-5%; 
    
}

.imageButtonRow
{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-height: 100%; 
}

.imageButtonRow div {
    max-width: 100%;
    max-height: 50%;
}

.imageButtonRow div {
    margin-bottom: 1rem;
    padding: 2rem;
}

.studentDiv
{
    display: flex; 
    align-content: center; 
    justify-content: center; 
}

.tutorDiv
{
    display: flex; 
    align-content: center; 
    justify-content: center; 
}

.landingButton
{ 
    background-color: #FFC72C; 
    color: #000000; 
    border: 0.5em solid #F2A900; 
    border-radius: 1em; 
    /* font-size: 2em;  */
    font-size: 3.5vw;
    padding: 2em; 
    width: 50%;
    /* height: 50%; */
}

#tutorButton
{
    padding-left: 2.6em;
    padding-right: 2.6em;
    font-size: 3.5vw;
}

@media screen and (min-width: 700px)
{
    .landingButton, #tutorButton
    {
        font-size: 1.5em;
        padding: auto;
    }
    #studentImage, #tutorImage
    {
        max-height: 150px;
        width: auto;
    }
}

.pageFooter
{
    background-color: #FFC72C; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button:active
{
    background-color: #F2A900; 
}

.navWrapper
{
    display: flex;
    justify-content: center;
}