#profileDiv {
    padding: .5rem;
}

.profileInfoDiv
{
    margin-top: 4em;
    background-color: #F5F3E7;
    border-radius: 2em; 
    display: flex; 
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
    
}

.leftProfile
{
    background-color: #FFC72C; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    width: 30%;
    max-width: 200px;
    border-top-left-radius: 2em; 
    border-bottom-left-radius: 2em; 
    padding: 0.2em;
    overflow-wrap: break-word;

}

.leftProfile img
{
    width: 100%;
    height: auto;

}

#hi
{
    text-align: center; 
}

img
{
    width: 80%; 
    height: 80%; 
    margin-left: auto;
    margin-right: auto; 
}

#userCoursesList
{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* padding-left: 5em;  */
}

#userCoursesList li {
    width: 45%;
    margin: .2rem;
    padding: .2rem;
    border: solid black 1.5px;
}


.rightProfile
{
    margin-left: 1em; 
}

button
{
    background-color: #FFC72C; 
    border: none; 
    border-radius: 1em; 
    padding: 1em; 
}

.rightButton
{
    max-width: 100%; 
    margin: 1em; 
}

.rightButton button {
    border: outset black 3px;
}

.rightButton button:hover {
    color: black;
    transition: .3s;
    scale: 1.02;
}

@media screen and (max-width: 450)
{

    img 
    {
        height: auto;
    }
}
