

.nameInfo, .timeInfo
{
    background-color: #FFC72C;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 2em; 
    border-radius: 1em; 
    
}

input[type="text"]
{
    max-width: 100%; 
}

#namesQuestion
{
    margin-top: 1em; 
    background-color: #00856A; 
    width: 80%; 
    color: #F5F3E7; 
    border-radius: 3em;  
    padding: 0.4em; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    margin-bottom: 1em;
}

#timeQuestion
{
    margin-top: 1em; 
    margin-bottom: 1em;
    background-color: #00856A; 
    width: 80%; 
    color: #F5F3E7; 
    border-radius: 3em;  
    padding: 0.4em; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}

#findTimeButtonDiv
{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 3em; 
    max-width: 100%;
    margin-top: 1em; 
}

#findTimeButton
{
    background-color: #00856A; 
    color: #F5F3E7;
    font-size: 100%; 
    border: none; 
    border-radius: 2em; 
    width: 25%; 
    padding: 0.6em;
}

.timeInfo
{
    display: grid; 
    grid-template-columns: 10% auto; 
    grid-auto-rows: minmax(1.5em, auto); 
    gap: 0.5em;
}