
#classQuestion
{
    margin-top: 4em; 
    background-color: #00856A; 
    width: 80%; 
    color: #F5F3E7; 
    border-radius: 3em;  
    padding: 0.4em; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}

.courseDiv
{
    overflow-y: scroll;
}

#findTutorButtonDiv
{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 3em; 
    max-width: 100%;
}

#findTutorButton
{
    background-color: #00856A; 
    color: #F5F3E7;
    font-size: 100%; 
    border: none; 
    border-radius: 2em; 
    width: 25%; 
    padding: 0.6em;
}

.courseCardDiv
{
    background-color: #F5F3E7; 
}