div.signUp
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border: 0.5em solid #F2A900;
    border-radius: 1em;
    background-color: #FFC72C;
    width: 35em;
    padding-bottom: 0.5em;
    margin: 25vh auto 25vh auto;

}

.navWrapper
{
    display: flex !important;
    justify-content: center;

}

#signUpTitle
{
    display: block;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.signUp div
{
    margin: auto;
    margin-bottom: 1vh;
}

#submitButton
{
    margin: auto;
}

#signUpFooter
{
    text-align: center;
}

.coursesModalCon
{
    display: none;
    padding: 2rem;
    margin:0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#closeCoursesModal {
    cursor: pointer;
}

.selected {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

div.coursesModal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0.5em solid #F2A900;
    border-radius: 1em;
    background-color: #FFC72C;
    max-width: 80%;
    padding-bottom: 0.5em;
    margin: auto;
    font-family: Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 90%;
    
}

div.coursesModal p
{
    margin: 2vh 0% 0em 10%;
    width: 30%;
}

div.coursesModal input
{
    margin: 2vh 8% 0em 0%;
    width: 24%;
    height: 2em;
}

div.modalContent
{
    margin: 2vh 16% 0em 16%;
}

div.modalContent button
{
    padding: 1vh 0em;
    background-color: #00856A;
    border: 0.5em solid #00856A;
    border-radius: 1em;
    min-width: 7em;
}

#submitButtonCourses
{
    width: 25%;
}
