.addSessionButton
{
    width: 100%;
    background-color: #FFC72C;
    border: none; 
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.dayCardRow
{
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 1em; 
    margin-top: 4em; 
    margin-bottom: 4em; 
}

.dayCard
{
    background-color: #F5F3E7; 
    border-radius: 1em; 
    width: 10em; 
}

.dayHeader
{
    background-color: #FFC72C; 
    padding: 0.5em; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
    text-align: center; 
}

#weekHeader
{
    margin-top: 2em; 
    background-color: #004C46; 
    width: 70%; 
    color: #F5F3E7; 
    border-radius: 3em;  
    padding-top: 0.1em; 
    padding-bottom: 0.1em; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}

.homepageButtonRow
{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 3em; 
    max-width: 100%;
}

.homepageButton
{
    background-color: #00856A; 
    color: #F5F3E7;
    font-size: 100%; 
    border: none; 
    border-radius: 2em; 
    width: 25%; 
    padding: 0.6em;
}

#afterHoursLink
{
    border-radius: 3em; 
    background-color: #004C46;
    color: #F5F3E7;
    border: none; 
    padding: 0.6em; 
    left: 10%; 
}

#viewSelected
{
    background-color: #CDDAD5;
    padding: 0.2em;
    border-radius: 1em; 
}

.sessionModal
{
    /* Default display: none, change to display: flex onclick of AddSession button */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 0.5em solid #F2A900;
    border-radius: 1em;
    background-color: #FFC72C;
    width: 35em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin: 25vh auto 25vh auto;
    font-family: Helvetica, sans-serif;
}

.sessionModal div
{
    padding-left: 1em;
    margin-bottom: 1em;
}

.timeInput
{
    display: flex;
    align-content: center;
}

.timeInput input
{
    height: 2em;
}

.timeInput p
{
    bottom: -30%;
}