.courseCon {
    width: 100%;
}

.courseTitle {
    width: 70%;
    padding: .7rem 1.5rem;
    border-radius: 4rem;
    color: white;
    background-color: #004C46;
    margin: 1rem;
    margin-left: 0;
}

.calTitle {
    background-color: #FFC72C;
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calDiv {
    background-color: white;
    width: fit-content;
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.tutorCon {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}
.noTutorSessions {
    width: 50%;
    height: 10rem;
    background-color: aliceblue;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    border: solid black 2px;
}