.courseCon {
    width: 100%;
}

.courseTitle {
    width: 70%;
    padding: .7rem 1.5rem;
    border-radius: 4rem;
    color: white;
    background-color: #004C46;
    margin: 1rem;
    margin-left: 0;
}

.calTitle {
    background-color: #FFC72C;
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calDiv {
    background-color: white;
    width: fit-content;
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.tutorCon {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}
.noTutorSessions {
    width: 50%;
    height: 10rem;
    background-color: aliceblue;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.becomeATutorButton {
    margin-top: 1rem;
    background-color: #004C46;
    width: fit-content;
    color: white;
    padding: .5rem;
    margin: 0 auto;
    border-radius: 15px;
    cursor: pointer;
    border: white 3px outset
    
}

.selectedTime {
    background-color: #004C46;
    color: white;
    cursor: default !important;
}

#addedModalCon {
    position:fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000029;
    display: none;
    justify-content: center;
    align-items: center;
}
#addedModal {
    width: 50%;
    height: 25%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: solid .5rem #FFC72C;
    margin-bottom: 5rem;
}

#addedModal p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #004C46;
}

.becomeATutorButton:hover {
    scale: 1.05;
    transition: .1s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .45);
}

.timeButton:hover {
    cursor: pointer;
    background-color: #004C46;
    color: white;
    transition: .1s;
}

.timeButton {
    width: 100%;
    text-align: center;
}